.container{
  .header-box{
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .body-box{
    display: flex;
    .body-left{
      flex: none;
      width: 400px;
      margin-right: 20px;
      border-right: 1px solid #000;

      .json-editor{
        height: 500px
      }
    }

    .body-right{
      flex: 1
    }
  }
}